.homepage {
    position: relative;
    top: 150px;
    width: 100%;
    min-height: 100%;
}

.food {
    margin: 0px;
}

.contents {
    height: 100%;
    width: 100%;
    color:rgb(228, 28, 28);
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(178, 220, 235);
    text-align: center;
    padding: 25px;
}
