.homepage {
    position: relative;
    top: 150px;
    width: 100%;
    min-height: 100%;
}

.food {
    margin: 0px;
}

.contents {
    height: 100%;
    width: 100%;
    color:rgb(221, 125, 125);
    font-size: 25px;
    font-weight: bold;
    background-color: deepskyblue;
    text-align: center;
    padding: 25px;
}