.coeh1{
    margin-top: 25px;
    color: black;
    font-weight: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration:none;
    /* text-align: center; */
    justify-content: center;
}
.coepara {
    text-decoration: none;
}